STRINGTABLE {
  8022, "Research Loom (+15 villager hit points; +1/+2P armor)"
  8374, "Research Heated Shot (+125% tower, +4 castle attack vs. ships)"
  8377, "Research Shipwright (ships cost 20% less wood; build 35% faster)."
  8415, "Research Parthian Tactics (+1/+2P Cavalry Archer armor, increased attack vs. pikemen)"
  8438, "Research Shinkichon (+1 range Mangonels, Onagers)"
  9475, "Cannot load that old recorded game."
  9764, "Turbo Random Map"
  10890, "Full Random"
  10902, "Blind Random"
  20152, "<b>Goths<b> \nInfantry civilization \n\n· Infantry cost -25% starting in Feudal Age\n· Infantry +1 attack vs. buildings \n· Villagers +5 attack vs. wild boar; hunters carry +15 meat \n· +10 population in Imperial Age \n\n<b>Unique Unit:<b> Huskarl (infantry) \n\n<b>Unique Techs:<b> Anarchy (create Huskarls at Barracks); Perfusion (Barracks work 50% faster) \n<b>Team Bonus:<b> Barracks work 20% faster"
  20154, "<b>Japanese<b> \nInfantry civilization \n\n· Fishing Ships 2X hit points; +2P armor; work rate +5% Dark, +10% Feudal, +15% Castle, +20% Imperial Age \n· Mill, Lumber/Mining Camps cost -50% \n· Infantry attack 25% faster starting in Feudal Age \n\n<b>Unique Unit:<b> Samurai (infantry) \n\n<b>Unique Technology:<b> Kataparuto (Trebuchets fire, pack faster) \n\n<b>Team Bonus:<b> galleys +50% line of sight"
  20155, "<b>Chinese<b> \nArcher civilization \n\n· Start with +3 villagers but -50 wood, -200 food \n· Technologies cost -10% Feudal, \n -15% Castle, -20% Imperial Age \n· Town Centers support 10 population \n· Demolition ships +50% hit points \n\n<b>Unique Unit:<b> Chu Ko Nu (archer) \n\n<b>Unique Technology:<b> Rocketry (+2P Chu Ko Nu attack, +4P scorpions) \n\n<b>Team Bonus:<b> Farms +45 food"
  20156, "<b>Byzantines<b> \nDefensive civilization \n· Buildings +10% HPs Dark, +20% Feudal, \n +30% Castle, +40% Imperial Age \n· Camels, skirmishers, Pikemen, Halberdiers cost -25% \n· Fire ships +20% attack \n· Advance to Imperial Age costs -33% \n· Town Watch free \n\n<b>Unique Unit:<b> Cataphract (cavalry) \n\n<b>Unique Tech:<b> Logistica (Cataphracts cause trample damage) \n\n<b>Team Bonus:<b> Monks +50% heal speed"
  20163, "<b>Spanish<b> \nGunpowder and Monk civilization \n· Builders work 30% faster \n· Blacksmith upgrades don't cost gold \n· Cannon Galleons benefit from Ballistics (fire faster, more accurately) \n\n <b>Unique Units:<b> Conquistador (mounted hand cannoneer), Missionary (mounted Monk) \n· Hand Cannoneers and Bombard Cannons fire 15% faster \n\n <b>Unique Tech:<b> Supremacy (villagers better in combat) \n\n<b>Team Bonus:<b> Trade units generate +33% gold"
  20164, "<b>Aztecs<b> \nInfantry and Monk civilization \n\n· Villagers carry +5 \n· Military units created 15% faster \n· +5 Monk hit points for each Monastery technology \n· Loom free\n\n <b>Unique Unit:<b> Jaguar Warrior (infantry) \n\n <b>Unique Technology:<b> Garland Wars (+4 infantry attack) \n\n<b>Team Bonus:<b> Relics generate +33% gold"
  20167, "<b>Koreans<b> \nTower and naval civilization \n\n· Villagers +3 line of sight \n· Stone miners work 20% faster \n· Tower upgrades free (Bombard Tower requires Chemistry)\n· Tower range +1 Castle, +2 Imperial Age \n\n <b>Unique Units:<b> War Wagon (cavalry archer), Turtle Ship (war ship)\n\n <b>Unique Technology:<b> Shinkichon \n(+1 range Mangonels, Onagers) \n <b>Team Bonus:<b> Mangonels, Onagers +1 range"
  26094, "Build <b> Battering Ram<b> (<cost>) \nSlow, lumbering siege weapon used to reduce enemy towns to ruins. Attack bonus vs. buildings; resistant to archer attack. Infantry and foot archers can garrison inside for protection. Garrisoned infantry and pikemen increase speed and attack vs. buildings. <i> Upgrades: attack (University); to Capped Ram 300F (Siege Workshop); more resistant to Monks (Monastery).<i> \n<hp> <attack> <armor> <piercearmor> <range> <garrison>"
  26154, "Build <b> Guard Tower<b> (<cost>) \nStronger than Watch Tower, with greater fighting ability. Units can garrison inside for protection and additional attack strength. <i> Upgrades: line of sight (Town Center); attack, range (Blacksmith); hit points, armor, ship attack; to Keep 500F, 350W (University).<i> \n<hp> <attack> <armor> <piercearmor> <range> <garrison>"
  26178, "Build <b> Watch Tower<b> (<cost>) \nBasic stone tower. Automatically attacks enemy units and buildings within range. Units can garrison inside for protection and additional attack strength. <i> Upgrades: line of sight (Town Center); attack, range (Blacksmith); hit points, armor, ship attack; to Guard Tower 100F, 250W (University).<i> \n<hp> <attack> <armor> <piercearmor> <range> <garrison>"
  26203, "Build <b> Stone Wall<b> (<cost>) \nStronger than Palisade Wall but more expensive. Slows down your enemies so you have a chance to fend them off. <i> Upgrades: line of sight (Town Center); hit points, armor, to Fortified Wall 200F, 100W (University).<i> \n<hp> <attack> <armor> <piercearmor> <range>"
  26289, "Build <b> Capped Ram<b> (<cost>) \nStronger than Battering Ram. Attack bonus vs. buildings; resistant to archer attack. Infantry and foot archers can garrison inside for protection. Garrisoned infantry and pikemen increase speed and attack vs. buildings. <i> Upgrades: attack (University); to Siege Ram 1000F (Siege Workshop); more resistant to Monks (Monastery).<i> \n<hp> <attack> <armor> <piercearmor> <range> <garrison>"
  28022, "Research <b>Loom<b> (<cost>) \nMakes your villagers harder to kill by providing +15 hit points and +1 normal/+2 pierce armor."
  28374, "Research <b>Heated Shot<b> (<cost>) \n Towers cause 125% more damage to ships; Castles cause 25% more damage to ships."
  28377, "Research <b>Shipwright<b> (<cost>) \nShips cost 20% less wood; build 35% faster."
  28415, "Research <b>Parthian Tactics<b> (<cost>) \n Cavalry Archers have +1 normal/+2 pierce armor; Cavalry Archers have +4 attack, Mangudai +2 attack vs. pikemen."
  28438, "Research <b>Shinkichon<b> (<cost>) \n Mangonels, Onagers, and Siege Onagers have +1 range."
  30133, "Full Random - Chooses one of the following maps: Arabia, Archipelago, Baltic, Coastal, Continental, Ghost Lake, Highland, Islands, Mediterranean, Migration, Mongolia, Oasis, Rivers, Scandinavia, Team Islands, or Yucatan."
  30147, "Blind Random - Chooses one of the following maps: Arabia, Archipelago, Baltic, Black Forest, Coastal, Continental, Crater Lake, Ghost Lake, Gold Rush, Highland, Islands, Mediterranean, Migration, Mongolia, Oasis, Rivers, Salt Marsh, Scandinavia, Team Islands, or Yucatan."
  30177, "Turbo Random Map - Buildings create units faster, villagers gather faster, build faster, and carry more."
}
